<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRqYzDDd7QfYFX0_DhxMt94aKyUmeLbGP2nQ&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'cdnlines.html' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img src="" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active text-white" href="{% url 'taskcreation_user' %}">CREATE TASK</a>
                <a class="nav-item nav-link text-white" href="{% url 'u_report_user' %}">REPORT</a>
                <a href="/login/" style="margin-left:1500px; font-size: 18px;" class="text-white mt-2">Logout</a>
            </div>
        </div>
    </nav>
</head>

<body>

</body>

</html>